*.o
basic/test1
basic/test2
basic/test3
basic/test4
basic/test4a
basic/test5
basic/test5a
basic/test5b
basic/test6
basic/test7
basic/test7a
basic/test7b
basic/test8
basic/test9
domount
getopt
lock/tlock64
lock/tlocklfs
special/bigfile
special/bigfile2
special/dupreq
special/excltest
special/freesp
special/fstat
special/holey
special/negseek
special/nfsidem
special/nstat
special/op_chmod
special/op_ren
special/op_unlk
special/rename
special/rewind
special/stat
special/stat2
special/telldir
special/touchn
special/truncate
tools/dirdmp
tools/dirprt
tools/pmapbrd
tools/pmaptst
tools/tcp
tools/tcpd
tools/udp
tools/udpd
